// ※のプロパティは必須
.drawer{
  position: fixed;//※
  height:100%;//※
  width:@drawer-width;//※
  top:0;//※
  left: 0;//※
  overflow-y: auto;//※
}
.drawer-overlay{
  position: relative; //※
  left:0;//※
}
.drawer-open{
   overflow:hidden;//※
   overflow-x:hidden !important;//※
  .drawer{
    overflow-y: auto;//※
    -webkit-overflow-scrolling:touch;//※
  }
  .drawer-overlay{
    position: absolute;//※
    overflow-x: hidden;//※
    left:@drawer-width;//※
  	//min-width: 320px;
  	//width:100%;
  }
  .drawer-toggle{
    left:(@drawer-width);//※
  }
}
.drawer-toggle{
  display: block;
  visibility: visible;
  z-index: @zindex-navbar;
  .transition(all 0.4s @ease-out-expo);
  position: fixed;
  left:0px;
  top:0px;
  background: #000;
  background: rgba(0,0,0,.4);
  color:#fff;
  border: none;
  border-radius: 0;
  border-bottom-right-radius: 4px;
  font-size: 24px;
  &:hover{
    cursor: pointer;
    border: none;
    background: #000;
    background: rgba(0,0,0,.6);
    color:#fff;
  }
  &:focus{
    border: none;
  }
}


.drawer-default{
  background-color:@gray-darkest;
  .box-shadow(inset 0 3px 9px rgba(0,0,0,.5));
  & + .drawer-overlay{
    .transition(left 0.4s @ease-out-expo);
    background-color: #fff;
  }
  .drawer-brand a{
    padding:20px 15px;
    color: #fff;
    display: block;
    width: 100%;
    font-size: 22px;
    &:hover{
      color: @gray;
      text-decoration: none;
    }
  }
  .drawer-nav li{
    a{
      padding: 15px;
      color: #888;
      &:hover{
        background-color: #333;
      }
    }
    ul a{
      padding:8px 20px;
    }
  }
  
}


@media (min-width: (@screen-tablet - 1)) { // 768px以下
  .drawer-toggle{
    display: none;
    visibility: hidden;
  }
}
@media (min-width: @screen-tablet) { // 768px以上
  .drawer{
    width:@drawer-width-tablet !important;
  }
  .drawer-overlay{
    margin-left:@drawer-width-tablet;
  }
}
@media (min-width: @screen-lg-desktop) { // 1200px以上
  .drawer{
    width:@drawer-width!important;
  }
  .drawer-overlay{
    margin-left:@drawer-width;
  }
}