// ※のプロパティは必須
.drawer{
  position: fixed;//※
  height:100%;//※
  width:@drawer-width;//※
  top:0;//※
  left: 0;//※
  .transition(left 0.4s @ease-out-expo);
}

.drawer-overlay{
  position: relative; //※
  left:0;//※
  .transition(left 0.4s @ease-out-expo);
  background-color: #fff;
}

.drawer-open{
   overflow:hidden;//※
   overflow-x:hidden !important;//※
  .drawer-hook{
    display: block;
    left:@drawer-width;//※
  }
  .drawer{
    overflow-y: auto;//※
    -webkit-overflow-scrolling:touch;//※
  }
  .drawer-overlay{
    position: absolute;//※
    overflow-x: hidden;//※
    left:@drawer-width;//※
  	min-width: 320px;
  	width:100%;
  }
  .drawer-toggle{
    left:(@drawer-width);
  }
}

.drawer-toggle{
  display: none;
  visibility: hidden;
  z-index: @zindex-navbar;
  .transition(all 0.4s @ease-out-expo);
  &:hover{
    cursor: pointer;
  }
}

@media (max-width: (@screen-tablet - 1)) { // 768px以下
  .drawer-toggle{
    display: block;
    visibility: visible;
  }
}
@media (min-width: @screen-tablet) { // 768px以上
  .drawer{
    width:@drawer-width-tablet !important;
  }
  .drawer-overlay{
    margin-left:@drawer-width-tablet;
  }
}
@media (min-width: @screen-lg-desktop) { // 1200px以上
  .drawer{
    width:@drawer-width!important;
  }
  .drawer-overlay{
    margin-left:@drawer-width;
  }
}