<div class="ck-section">
  <h1 id="grid-tables" class="page-header">gridtable <small>gridtable.less</small></h1>
  <p class="lead"><code>.gridtable</code>はCSSの<code>float</code>プロパティは使用せずに、<code>.gridtable</code>クラスを<code>display: table</code>に設定。その子要素<code>.col-*</code>クラスには<code>display: table-cell</code>を設定することでコラムレイアウトを実装。</p>
    
  <h2>Basic 12 gridtable</h2>
  <p>lessを利用の場合は<code>cooker/variables.less</code>に書かれている<code>@gridtable-number</code>の数値をを作りたいコラムの最大数に変更することで横列を好きな数でコンパイル可能。</p>
  <div class="ck-example">

    <div class="gridtable gridtable-docs">
      <div class="col-1">col-1</div>
      <div class="col-1">col-1</div>
      <div class="col-1">col-1</div>
      <div class="col-1">col-1</div>
      <div class="col-1">col-1</div>
      <div class="col-1">col-1</div>
      <div class="col-1">col-1</div>
      <div class="col-1">col-1</div>
      <div class="col-1">col-1</div>
      <div class="col-1">col-1</div>
      <div class="col-1">col-1</div>
      <div class="col-1">col-1</div>
    </div>
    <div class="gridtable gridtable-docs">
      <div class="col-2">col-2</div>
      <div class="col-2">col-2</div>
      <div class="col-2">col-2</div>
      <div class="col-2">col-2</div>
      <div class="col-2">col-2</div>
      <div class="col-2">col-2</div>
    </div>
    <div class="gridtable gridtable-docs">
      <div class="col-3">col-3</div>
      <div class="col-3">col-3</div>
      <div class="col-3">col-3</div>
      <div class="col-3">col-3</div>
    </div>
    <div class="gridtable gridtable-docs">
      <div class="col-4">col-4</div>
      <div class="col-4">col-4</div>
      <div class="col-4">col-4</div>
    </div>
    <div class="gridtable gridtable-docs">
      <div class="col-5">col-5</div>
      <div class="col-7">col-7</div>
    </div>
    <div class="gridtable gridtable-docs">
      <div class="col-6">col-6</div>
      <div class="col-6">col-6</div>
    </div>
    <div class="gridtable gridtable-docs">
      <div class="col-8">col-8</div>
      <div class="col-4">col-4</div>
    </div>
    <div class="gridtable gridtable-docs">
      <div class="col-12">col-12</div>
    </div>

  </div> <!-- /example -->
{% highlight html %}
<div class="gridtable">
  <div class="col-6">col-6</div>
  <div class="col-6">col-6</div>
</div>
<div class="gridtable">
  <div class="col-8">col-8</div>
  <div class="col-4">col-4</div>
</div>
<div class="gridtable">
  <div class="col-12">col-12</div>
</div>
{% endhighlight %}
  
  
  <h2>Nest and Vertical-align</h2>
  <p><code>.gridtable</code>クラスの入れ子（サンプルでは3階層）と、<code>.gridtable</code>クラスに<code>.gridtable-valign-middle</code>クラスを追加することでCSSの<code>vertical-align</code>プロパティを有効にすることが可能。</p>
  <div class="ck-example">
    
    <div class="gridtable gridtable-valign-middle gridtable-docs">
      <div class="col-3">col-3</div>
      <div class="col-9">
        col-9
        <div class="gridtable gridtable-docs">
          <div class="col-6">
            col-6
            <div class="gridtable gridtable-docs">
              <div class="col-6">col-6</div>
              <div class="col-6">col-6</div>
            </div>
          </div>
          <div class="col-6">col-6</div>
        </div>
      </div>
    </div>
        
  </div> <!-- /example -->

{% highlight html %}
<div class="gridtable gridtable-valign-middle">
  <div class="col-3">col-3</div>
  <div class="col-9">
    col-9
    <div class="gridtable">
      <div class="col-6">
        col-6
        <div class="gridtable">
          <div class="col-6">col-6</div>
          <div class="col-6">col-6</div>
        </div>
      </div>
      <div class="col-6">col-6</div>
    </div>
  </div>
</div>
{% endhighlight %}

  
  <h2>Gutters</h2>
  <p><code>.gridtable</code>クラスにラッパー要素<code>.gridtable-gutter</code>を追加することで、コラム間にマージンを付ける事が可能。</p>
  
  <div class="ck-example">
  
    <div class="gridtable-gutter">
      <div class="gridtable gridtable-docs">
        <div class="col-1">col-1</div>
        <div class="col-2">col-2</div>
        <div class="col-4">col-4</div>
        <div class="col-5">col-6</div>
      </div>
    </div>
    <div class="gridtable-gutter">
      <div class="gridtable gridtable-docs">
        <div class="col-3">col-3</div>
        <div class="col-3">col-3</div>
        <div class="col-6">col-6</div>
      </div>
    </div>
    <div class="gridtable-gutter">
      <div class="gridtable gridtable-docs">
        <div class="col-9">col-9</div>
        <div class="col-3">col-3</div>
      </div>
    </div>
    <div class="gridtable-gutter">
      <div class="gridtable gridtable-docs">
        <div class="col-4">col-4</div>
        <div class="col-4">col-4</div>
        <div class="col-4">col-4</div>
      </div>
    </div>
    <div class="gridtable-gutter">
      <div class="gridtable gridtable-docs">
        <div class="col-3">col-3</div>
        <div class="col-3">col-3</div>
        <div class="col-3">col-3</div>
        <div class="col-3">col-3</div>
      </div>
    </div>
      
  </div> <!-- /example -->
{% highlight html %}
<div class="gridtable-gutter">
  <div class="gridtable">
    <div class="col-4">col-4</div>
    <div class="col-4">col-4</div>
    <div class="col-4">col-4</div>
  </div>
</div>
<div class="gridtable-gutter">
  <div class="gridtable">
    <div class="col-3">col-3</div>
    <div class="col-3">col-3</div>
    <div class="col-3">col-3</div>
    <div class="col-3">col-3</div>
  </div>
</div>
{% endhighlight %}

</div>

