---
layout: one-column
title: javascript components
base_url: "../"
---
<article id="content">

  <div id="content-header" class="">
    <h2>{{ page.title }}</h2>
    <p class="lead"></p>
    <ul>
      <li><a href="#contents-inputcounters">inputcounters</a></li>
      <li><a href="#contents-dropdowns">dropdowns</a></li>
      <li><a href="#contents-scrollmethods">scrollmethods</a></li>
      <li><a href="#contents-slidebars">slidebars</a></li>
      <li><a href="#contents-switchers">switchers</a></li>
      <li><a href="#contents-tooltips">tooltips</a></li>
    </ul>
  </div>

  <div id="content-body">

    {% include js-components/dropdowns.html %}
    <hr />
    {% include js-components/inputcounters.html %}
    <hr />
    {% include js-components/scrollmethods.html %}
    <hr />
    {% include js-components/slidebars.html %}
    <hr />
    {% include js-components/switchers.html %}
    <hr />
    {% include js-components/tooltips.html %}

  </div>
      
</article>










