---
layout: one-column
title: styles
base_url: "../"
---
<article id="content">

  <div id="content-header" class="">
    <h2>{{ page.title }}</h2>
    <p class="lead"></p>
    <ul>
      <li><a href="#contents-buttons">buttons</a></li>
      <li><a href="#contents-forms">forms</a></li>
      <li><a href="#contents-tables">tables</a></li>
    </ul>
  </div>

  <div id="content-body">

    {% include styles/buttons.html %}
    <hr />
    {% include styles/forms.html %}
    <hr />
    {% include styles/tables.html %}

  </div>
      
</article>










