/* Backgrounds */
.bg-primary{ background-color: @brand-primary; }
.bg-success{ background-color: @brand-success; }
.bg-warning{ background-color: @brand-warning; }
.bg-danger{ background-color: @brand-danger; }
.bg-info{ background-color: @brand-info; }


.bg-primary-dark-45 { background-color: @brand-primary-dark-45 ; }
.bg-primary-dark-40 { background-color: @brand-primary-dark-40 ; }
.bg-primary-dark-35 { background-color: @brand-primary-dark-35 ; }
.bg-primary-dark-30 { background-color: @brand-primary-dark-30 ; }
.bg-primary-dark-25 { background-color: @brand-primary-dark-25 ; }
.bg-primary-dark-20 { background-color: @brand-primary-dark-20 ; }
.bg-primary-dark-15 { background-color: @brand-primary-dark-15 ; }
.bg-primary-dark-10 { background-color: @brand-primary-dark-10 ; }
.bg-primary-dark-5  { background-color: @brand-primary-dark-5 ; }

.bg-primary-light-45 { background-color: @brand-primary-light-45 ; }
.bg-primary-light-40 { background-color: @brand-primary-light-40 ; }
.bg-primary-light-35 { background-color: @brand-primary-light-35 ; }
.bg-primary-light-30 { background-color: @brand-primary-light-30 ; }
.bg-primary-light-25 { background-color: @brand-primary-light-25 ; }
.bg-primary-light-20 { background-color: @brand-primary-light-20 ; }
.bg-primary-light-15 { background-color: @brand-primary-light-15 ; }
.bg-primary-light-10 { background-color: @brand-primary-light-10 ; }
.bg-primary-light-5  { background-color: @brand-primary-light-5 ; }

.silver-45 { background-color: @silver-45 ; }
.silver-40 { background-color: @silver-40 ; }
.silver-35 { background-color: @silver-35 ; }
.silver-30 { background-color: @silver-30 ; }
.silver-25 { background-color: @silver-25 ; }
.silver-20 { background-color: @silver-20 ; }
.silver-15 { background-color: @silver-15 ; }
.silver-10 { background-color: @silver-10 ; }
.silver-5  { background-color: @silver-5 ; }



// 
// .bg-navy {    background-color: @navy; }
// .bg-blue {    background-color: @blue; }
// .bg-aqua {    background-color: @aqua; }
// .bg-teal {    background-color: @teal; }
// .bg-olive {   background-color: @olive; }
// .bg-green {   background-color: @green; }
// .bg-lime {    background-color: @lime; }
// .bg-yellow {  background-color: @yellow; }
// .bg-orange {  background-color: @orange; }
// .bg-red {     background-color: @red; }
// .bg-fuchsia { background-color: @fuchsia; }
// .bg-purple {  background-color: @purple; }
// .bg-maroon {  background-color: @maroon; }
// .bg-white {   background-color: @white; }
// .bg-gray {    background-color: @gray; }
// .bg-silver {  background-color: @silver; }
// .bg-black {   background-color: @black; }
// 
// 
// /* Colors */
// 
// .color-navy {       color: @navy; }
// .color-blue {       color: @blue; }
// .color-aqua {       color: @aqua; }
// .color-teal {       color: @teal; }
// .color-olive {      color: @olive; }
// .color-green {      color: @green; }
// .color-lime {       color: @lime; }
// .color-yellow {     color: @yellow; }
// .color-orange {     color: @orange; }
// .color-red {        color: @red; }
// .color-fuchsia {    color: @fuchsia; }
// .color-purple {     color: @purple; }
// .color-maroon {     color: @maroon; }
// .color-white {      color: @white; }
// .color-silver {     color: @silver; }
// .color-gray {       color: @gray; }
// .color-black {      color: @black; }
