/* Backgrounds */
.bg-primary{ background-color: @primary-color; }
.bg-secondary{ background-color: @secondary-color; }
.bg-tertiary{ background-color: @tertiary-color; }
.bg-success{ background-color: @success-color; }
.bg-warning{ background-color: @warning-color; }
.bg-danger{ background-color: @danger-color; }
.bg-info{ background-color: @info-color; }

.bg-primary-darker         { background-color: @primary-color-darker ; }
.bg-primary-dark           { background-color: @primary-color-dark ; }
.bg-primary-light          { background-color: @primary-color-light ; }
.bg-primary-lighter        { background-color: @primary-color-lighter ; }

.bg-secondary-darker         { background-color: @secondary-color-darker ; }
.bg-secondary-dark           { background-color: @secondary-color-dark ; }
.bg-secondary-light          { background-color: @secondary-color-light ; }
.bg-secondary-lighter        { background-color: @secondary-color-lighter ; }

.bg-tertiary-darker         { background-color: @tertiary-color-darker ; }
.bg-tertiary-dark           { background-color: @tertiary-color-dark ; }
.bg-tertiary-light          { background-color: @tertiary-color-light ; }
.bg-tertiary-lighter        { background-color: @tertiary-color-lighter ; }

.bg-gray             { background-color: @gray ; }
.bg-gray-darker      { background-color: @gray-darker ; }
.bg-gray-dark        { background-color: @gray-dark ; }
.bg-gray-light       { background-color: @gray-light ; }
.bg-gray-lighter     { background-color: @gray-lighter ; }
