// Tasks
// ・フォームステータスカラー


//
// form要素のベースクラス
// =====================
.form{
  padding: @padding-base-vertical @padding-base-horizontal;
  width:100%;
  height:@input-height-base;
  background-color: @input-bg;
  background-image: none;
  color: @input-color;
  font-size: @font-size-base;
  line-height: @line-height-base;
}
//
// フォームのサイズ
// =====================
.input,
.select,
.checkbox,
.radio,
.input-outset-label input {
  &.sm {
    .input-size(
      @input-height-small; 
      @padding-small-vertical; 
      @padding-small-horizontal; 
      @font-size-small; 
      @line-height-small; 
      @input-border-radius-sm
    );
  }
  &.lg {
    .input-size(
      @input-height-large; 
      @padding-large-vertical; 
      @padding-large-horizontal; 
      @font-size-large; 
      @line-height-large; 
      @input-border-radius-lg
    );
  }
}


//
// input
// =====================
.input {
  .form();
  // .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");
  .form-control-focus();
  .placeholder();
  display: block;
  border:@input-border;
  border-radius: @input-border-radius;
  &:hover {
    background-color: @input-hover-bg;
  }
}

//
// select
// =====================
.select {
  .form();
  -webkit-appearance: none !important;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: 97% center;
  border:@input-border;
  border-radius: 0;
  &:hover {
    background-color: @input-hover-bg;
  }
  &.sm {
    padding: 0 @padding-small-horizontal;
  }
  &.lg {
    padding: 0 @padding-large-horizontal;
  }
}

//
// checkbox
// =====================
.checkbox{
  .form();
  .checkbox-radio-style("checkbox");
}
.checkbox-inline {
  .checkbox-radio-style("checkbox");
  margin-right: 1em;
}

//
// radio button
// =====================
.radio{
  .form();
  .checkbox-radio-style("radio");
}
.radio-inline {
  .checkbox-radio-style("radio");
  margin-right: 1em;
}


//
// form grid
// =====================
.form-col,
.row-form {
  //フォームの間に入るテキスト用
  .form-col-text,
  .row-form-text {
    .form();
    background-color: transparent;
  }
  .input + .button{
    .border-left-radius(0);
  }
  .row-form-generate(12);
  .clearfix();
}

//
// input-underline
// =====================
.input-underline{
  .form();
  .placeholder();
  display: block;
  outline:none;
  border: none;
  border-bottom: @input-border;
  border-radius: 0;
  background-color: transparent;
  &:hover,
  &:focus {
    border-bottom: 1px solid @primary-color;
  }
  &.sm {
    .input-size(
      @input-height-small; 
      @padding-small-vertical; 
      @padding-small-horizontal; 
      @font-size-small; 
      @line-height-small; 
      none
    );
  }
  &.lg {
    .input-size(
      @input-height-large; 
      @padding-large-vertical; 
      @padding-large-horizontal; 
      @font-size-large; 
      @line-height-large; 
      none
    );
  }
}

//
// input-minimal
// =====================
.input-minimal{
  .form();
  .placeholder();
  display: block;
  outline:none;
  border: none;
  border-radius: 0;
  &:hover,
  &:focus {
    background-color: @input-hover-bg;
  }
  &.sm {
    .input-size(
      @input-height-small; 
      @padding-small-vertical; 
      @padding-small-horizontal; 
      @font-size-small; 
      @line-height-small; 
      none
    );
  }
  &.lg {
    .input-size(
      @input-height-large; 
      @padding-large-vertical; 
      @padding-large-horizontal; 
      @font-size-large; 
      @line-height-large; 
      none
    );
  }
}

//
// input-left-bar
// =====================
.input-left-bar{
  .form();
  .placeholder();
  display: block;
  outline:none;
  border: none;
  border-left: 3px solid @border-base-color;
  border-radius: 0;
  &:hover,
  &:focus {
    border-left: 3px solid @primary-color;
  }
  &.sm {
    .input-size(
      @input-height-small; 
      @padding-small-vertical; 
      @padding-small-horizontal; 
      @font-size-small; 
      @line-height-small; 
      none
    );
  }
  &.lg {
    .input-size(
      @input-height-large; 
      @padding-large-vertical; 
      @padding-large-horizontal; 
      @font-size-large; 
      @line-height-large; 
      none
    );
  }
}

//
// input-inset-icons
// =====================
.input-inset-icons{
  position: relative;
  .input-inset-left,
  .left,
  .prepend,
  .input-inset-right,
  .right,
  .append {
    position : absolute;
    top: 0;
    display : block;
    padding : @padding-base;
    height : @input-height-base;
    border : 0;
    background-color: transparent;
    + button{
      color: @link-color;
      &:hover{
        color: @link-hover-color;
      }
    }
  }
  .input-inset-left,
  .left,
  .prepend{
    left: 0;
    ~ .input-inset{
      padding-left: ( @padding-base-horizontal * 3 );
    }
  }
  .input-inset{}
  .input-inset-right,
  .right,
  .append {
    right: 0;
    ~ .input-inset {
      padding-right: ( @padding-base-horizontal * 3 );
    }
  }

  &.input-inset-icons-sm,
  &.sm{
    .input-inset-left,
    .left,
    .prepend,
    .input-inset-right,
    .right,
    .append {
      padding: @padding-small;
      height:@input-height-small;
      font-size: @font-size-small;
    }
    .input-inset-left,
    .left,
    .prepend{
      ~ .input-inset {
        padding-left: (@padding-small-horizontal * 3);
      }
    }
    .input-inset-right,
    .right,
    .append {
      ~ .input-inset {
        padding-right: (@padding-small-horizontal * 3);
      }
    }
  }

  &.input-inset-icons-lg,
  &.lg{
    .input-inset-left,
    .left,
    .prepend,
    .input-inset-right,
    .right,
    .append {
      padding: @padding-large;
      height:@input-height-large;
      font-size: @font-size-large;
    }
    .input-inset-left,
    .left,
    .prepend{
      ~ .input-inset {
        padding-left: (@padding-large-horizontal * 3);
      }
    }
    .input-inset-right,
    .right,
    .append {
      ~ .input-inset {
        padding-right: (@padding-large-horizontal * 3);
      }
    }
  }

}

//
// input-outset-label
// =====================
.input-outset-label{
  display: inline-block;
  .clearfix();
  .input-outset-left,
  .input-outset-right,
  .left,
  .right,
  .prepend,
  .append {
    display: block;
    padding : @padding-base;
    border: @border-base;
    height : @input-height-base;
  }
  .input-outset-left,
  .left,
  .prepend{
    float: left;
    border-right: 0;
    ~ .input{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .input-outset-right,
  .right,
  .append {
    float: right;
    border-left: 0;
    ~ .input{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .input-outset{
    .input();
    float: left;
    width: 250px;
  }
  &.sm{
    .input-outset-left,
    .input-outset-right,
    .left,
    .right,
    .prepend,
    .append {
      padding: @padding-small;
      height:@input-height-small;
      font-size: @font-size-small;
      ~ .input {
        .input-size(
          @input-height-small; 
          @padding-small-vertical; 
          @padding-small-horizontal; 
          @font-size-small; 
          @line-height-small; 
          none
        );
      }
    }
  }
  &.lg{
    .input-outset-left,
    .input-outset-right,
    .left,
    .right,
    .prepend,
    .append {
      padding: @padding-large;
      height:@input-height-large;
      font-size: @font-size-large;
      ~ .input {
        .input-size(
          @input-height-large; 
          @padding-large-vertical; 
          @padding-large-horizontal; 
          @font-size-large; 
          @line-height-large; 
          none
        );
      }
    }
  }
}

