//
// form要素のベースクラス
// =====================
// select,
// textarea,
// input[type="text"],
// input[type="password"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="date"],
// input[type="month"],
// input[type="time"],
// input[type="week"],
// input[type="number"],
// input[type="email"],
// input[type="url"],
// input[type="search"],
// input[type="tel"],
// input[type="color"],
.select,
.checkbox,
.radio,
.row-form .row-form-text,
.input {
  .placeholder();
  .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");
  .form-focus();
  display: block;
  padding: @padding-base-vertical @padding-base-horizontal;
  width:100%;
  height:@input-height-base;
  background-color: @input-bg;
  background-image: none;
  color: @input-color;
  font-size: @font-size-base;
  line-height: @line-height-base;
  border:@input-border;
  border-radius: @input-border-radius;
  &.sm {
    .input-size(
      @input-height-small; 
      @padding-small-vertical; 
      @padding-small-horizontal; 
      @font-size-small; 
      @line-height-small; 
      @input-border-radius-sm
    );
  }
  &.lg {
    .input-size(
      @input-height-large; 
      @padding-large-vertical; 
      @padding-large-horizontal; 
      @font-size-large; 
      @line-height-large; 
      @input-border-radius-lg
    );
  }
  &[disabled], 
  &[readonly] {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
  }
}

//
// input
// =====================
// input-*
.input.underline,
.input.minimal,
.input.left-bar {
  outline:none;
  border: none;
}

// input-underline
.input.underline{
  border-bottom: @input-border;
  background-color: transparent;
  &:hover,
  &:focus {
    border-bottom: 1px solid @primary-color;
  }
}

// input-minimal
.input.minimal{
  &:focus {
    box-shadow: none;
  }
}

// input-left-bar
.input.left-bar{
  border-left: 3px solid @border-base-color;
  &:hover,
  &:focus {
    border-left: 3px solid @primary-color;
  }
}

//
// select
// =====================
.select {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==");
  background-position: 97% center;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  &.sm {
    padding: 0 @padding-small-horizontal;
  }
  &.lg {
    padding: 0 @padding-large-horizontal;
  }
}

//
// checkbox & radio button
// =====================
.checkbox,
.radio {
  border:0;
  background-color: transparent;
  &:hover{
    background-color: transparent;
  }
}
.checkbox,
.checkbox.inline {
  .checkbox-radio-style("checkbox");
}
.radio,
.radio.inline {
  .checkbox-radio-style("radio");
}
.checkbox.inline,
.radio.inline {
  margin-right: 1em;
  display:inline;
}

//
// state color
// =====================
input.info{
  border-color:@state-info-border;
  background-color: @state-info-bg;
  color: @state-info-text;
  .form-focus(@info-color);
}
input.success{
  border-color:@state-success-border;
  background-color: @state-success-bg;
  color: @state-success-text;
  .form-focus(@success-color);
}
input.warning{
  border-color:@state-warning-border;
  background-color: @state-warning-bg;
  color: @state-warning-text;
  .form-focus(@warning-color);
}
input.danger{
  border-color:@state-danger-border;
  background-color: @state-danger-bg;
  color: @state-danger-text;
  .form-focus(@danger-color);
}



//
// form
// =====================
.form{
  > label{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
  }
}

//
// form.inline
// =====================
.form.inline{
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}


//
// row-form
// =====================
.form-col, // 廃止予定
.row-form {
  .row-form-generate(12);
  .clearfix();
  //フォームの間に入るテキスト用
  > .row-form-text {
    border:0;
    background-color: transparent;
    &:hover{
      background-color: transparent;
    }
  }
  > .input + .button{
    .border-left-radius(0);
  }
}

//
// input-button-set
// =====================
.input-button-set{
  .clearfix();
  > .input {
    float:left;
    width:@input-width-fixed;
  }
  > .input + .button,
  > .input + .button-split {
    float:left;
  }
  > .button-split{
    > .button{
      .border-left-radius(0);
    }
  }
}



//
// input-inset-icons
// =====================
.input-inset-icons{
  position: relative;
  > .prepend,
  > .append {
    position : absolute;
    top: 0;
    display : block;
    padding : @padding-base;
    height : @input-height-base;
    border : 0;
    background-color: transparent;
    + .input {
      color: @link-color;
      &:hover{
        color: @link-hover-color;
      }
    }
  }
  > .prepend{
    left: 0;
    ~ .input {
      padding-left: ( @padding-base-horizontal * 3 );
    }
  }
  > .append {
    right: 0;
    ~ .input {
      padding-right: ( @padding-base-horizontal * 3 );
    }
  }
  &.inset-icons-sm,
  &.sm{
    > .prepend,
    > .append {
      padding: @padding-small;
      height:@input-height-small;
      font-size: @font-size-small;
    }
    > .prepend{
      ~ .input {
        padding-left: (@padding-small-horizontal * 3);
      }
    }
    > .append {
      ~ .input {
        padding-right: (@padding-small-horizontal * 3);
      }
    }
  }

  &.inset-icons-lg,
  &.lg{
    > .prepend,
    > .append {
      padding: @padding-large;
      height:@input-height-large;
      font-size: @font-size-large;
    }
    > .prepend{
      ~ .input {
        padding-left: (@padding-large-horizontal * 3);
      }
    }
    > .append {
      ~ .input {
        padding-right: (@padding-large-horizontal * 3);
      }
    }
  }

}

//
// input-outset 
// =====================
.input-outset {
  .clearfix();
  display: inline-block;
  vertical-align: middle;
  > .prepend,
  > .append {
    display: block;
    padding : @padding-base;
    height : @input-height-base;
    border: @border-base;
  }
  > .prepend{
    float: left;
    border-right: 0;
    ~ .input{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  > .append {
    float: right;
    border-left: 0;
    ~ .input{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  > .input{
    float: left;
    width: @input-width-fixed;
  }
  &.sm{
    > .prepend,
    > .append {
      padding: @padding-small;
      height:@input-height-small;
      font-size: @font-size-small;
    }
  }
  &.lg{
    > .prepend,
    > .append {
      padding: @padding-large;
      height:@input-height-large;
      font-size: @font-size-large;
    }
  }
}

