.input{
  display: block;
	width:100%;
	height:@input-height-base;
  padding: @padding-base-vertical @padding-base-horizontal;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @input-color;
  background-color: @input-bg;
  background-image: none; 
}

.input-base{
	.input();
	border:@input-border;
  border-radius: @input-border-radius;
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");
  // Customize the `:focus` state to imitate native WebKit styles.
  .form-control-focus();
  // Placeholder
  .placeholder();
	
	&.input-sm {
	  .input-size(@input-height-small; @padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
	}
	&.input-lg {
	  .input-size(@input-height-large; @padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-large);
	}

}

.input-minimal{
	.input();

  border: none;
  border-radius: none;
  box-shadow:none;
	outline:none;
	
	&:focus{
		background-color:#eee;
	}
	
	&.input-sm {
	  .input-size(@input-height-small; @padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; none);
	}
	&.input-lg {
	  .input-size(@input-height-large; @padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; none);
	}


}
