
@media (min-width: @grita-breakpoint) {

  .grita {
    display: table;
    width: 100%;
    table-layout: fixed;
    
    .col{
      display: table-cell;
    }
      
  }
  
  .grita-padding .col {
    padding: @grita-gutter-padding-base;
  }
  .grita-padding-sm .col {
    padding: @grita-gutter-padding-sm;
  }
  .grita-padding-xs .col {
    padding: @grita-gutter-padding-xs;
  }
  .grita-padding-form .col {
    padding-right: @grita-gutter-padding-form;
    &:last-child{
      padding-right: 0;
    }
  }
  
  .grita-gutter {
    margin-left:  -@grita-gutter-width;
    margin-right: -@grita-gutter-width;
    .grita {
      border-spacing: @grita-gutter-width 0;
    }
  }
  
  .grita-generate(@grita-number);

}

.grita-valign-middle .col {
  vertical-align: middle;
}
