<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Cooker, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.">
<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, cooker, front-end, frontend, web development">
<meta name="author" content="blivesta">
<title>
  {% if page.title == site.title %}
    {{ page.title }}
  {% else %}
    {{ page.title }} &middot; {{ site.title }}
  {% endif %}
</title>

<!-- cooker core CSS -->
<link rel="stylesheet" href="{{ page.base_url }}css/cooker.css">

<!-- Documentation extras -->
<link href="{{ page.base_url }}assets/css/docs.css" rel="stylesheet">
<!--[if lt IE 9]><script src="{{ page.title }}assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ page.base_url }}assets/ico/apple-touch-icon-144-precomposed.png">
                               <link rel="shortcut icon" href="{{ page.base_url }}assets/ico/favicon.ico">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.easing/1.3/jquery.easing.1.3.js"></script>

<!-- cooker bootstrap -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="{{ page.base_url }}vendor/bootstrap/js/affix.js"></script>
<script src="{{ page.base_url }}vendor/bootstrap/js/scrollspy.js"></script>

<!-- cooker jquery plugins -->
<!--   <script src="{{ page.base_url }}js/cooker-min.js"></script> -->
<script src="{{ page.base_url }}js/tooltips.js"></script>
<script src="{{ page.base_url }}js/dropdowns.js"></script>
<script src="{{ page.base_url }}js/switchers.js"></script>
<script src="{{ page.base_url }}js/scrollmethods.js"></script>
<script src="{{ page.base_url }}js/inputcounters.js"></script>
<script src="{{ page.base_url }}js/slidebars.js"></script>

<!-- docs js -->
<script src="{{ page.base_url }}assets/js/common.js"></script>

</head>