<div class="ck-section">
  <h1 id="switchers" class="page-header">Switchers <small>switchers.js</small></h1>

  <h2 id="switchers-examples">Examples</h2>

  <h3>Mode : accordion</h3>
  <div class="ck-example">
  
    <div class="switchers" data-mode="accordion">
    	<div class="switcher-head text-right">
        <button class="btn btn-default switcher-toggle-all">All Toggle</button>
    	</div>
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" /> switcher-header
        	</div>
        	<div class="switcher-header-col">
          	<input type="text" class="form-control form-minimal form-ph-icon" placeholder="form-minimal" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	<img src="http://lorempixel.com/400/200/" alt="" width="60" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
            	&nbsp;switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div class="switcher-body-inner">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
            <p>Nullam ac scelerisque felis, nec venenatis dui. Duis auctor pretium eleifend. Fusce ante velit, faucibus sed mollis quis, convallis ut mi. Curabitur pretium urna vel orci blandit luctus. Morbi tristique facilisis ipsum, quis rutrum erat fermentum a. Fusce ac lobortis ipsum. Phasellus pellentesque nulla eu massa viverra, vitae euismod ipsum malesuada. Proin non eleifend dolor, ut adipiscing lorem. Nunc aliquet purus id velit volutpat tempus eu a ipsum. Fusce semper augue in fringilla posuere. Aliquam ligula metus, pellentesque quis tempor pretium, ullamcorper eu neque. Phasellus pellentesque blandit scelerisque. Nunc ornare eu augue sed suscipit. Nunc semper vitae sapien vel suscipit.</p> 
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Project</th>
                <th>Code</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cooker</td>
                <td>0001</td>
                <td>blivesta</td>
              </tr>
              <tr>
                <td>Cooker</td>
                <td>0001</td>
                <td>blivesta</td>
              </tr>
              <tr>
                <td>Cooker</td>
                <td>0001</td>
                <td>blivesta</td>
              </tr>
            </tbody>
          </table>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" /> switcher-header
        	</div>
        	<div class="switcher-header-col">
          	<input type="text" class="form-control form-minimal form-ph-icon" placeholder="form-minimal" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	<img src="http://lorempixel.com/400/200/" alt="" width="60" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
            	&nbsp;switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div class="switcher-body-inner">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
            <p>Nullam ac scelerisque felis, nec venenatis dui. Duis auctor pretium eleifend. Fusce ante velit, faucibus sed mollis quis, convallis ut mi. Curabitur pretium urna vel orci blandit luctus. Morbi tristique facilisis ipsum, quis rutrum erat fermentum a. Fusce ac lobortis ipsum. Phasellus pellentesque nulla eu massa viverra, vitae euismod ipsum malesuada. Proin non eleifend dolor, ut adipiscing lorem. Nunc aliquet purus id velit volutpat tempus eu a ipsum. Fusce semper augue in fringilla posuere. Aliquam ligula metus, pellentesque quis tempor pretium, ullamcorper eu neque. Phasellus pellentesque blandit scelerisque. Nunc ornare eu augue sed suscipit. Nunc semper vitae sapien vel suscipit.</p> 
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Project</th>
                <th>Code</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cooker</td>
                <td>0001</td>
                <td>blivesta</td>
              </tr>
              <tr>
                <td>Cooker</td>
                <td>0001</td>
                <td>blivesta</td>
              </tr>
              <tr>
                <td>Cooker</td>
                <td>0001</td>
                <td>blivesta</td>
              </tr>
            </tbody>
          </table>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" /> switcher-header
        	</div>
        	<div class="switcher-header-col">
          	<input type="text" class="form-control form-minimal form-ph-icon" placeholder="form-minimal" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	<img src="http://lorempixel.com/400/200/" alt="" width="60" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
            	&nbsp;switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div class="switcher-body-inner">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
            <p>Nullam ac scelerisque felis, nec venenatis dui. Duis auctor pretium eleifend. Fusce ante velit, faucibus sed mollis quis, convallis ut mi. Curabitur pretium urna vel orci blandit luctus. Morbi tristique facilisis ipsum, quis rutrum erat fermentum a. Fusce ac lobortis ipsum. Phasellus pellentesque nulla eu massa viverra, vitae euismod ipsum malesuada. Proin non eleifend dolor, ut adipiscing lorem. Nunc aliquet purus id velit volutpat tempus eu a ipsum. Fusce semper augue in fringilla posuere. Aliquam ligula metus, pellentesque quis tempor pretium, ullamcorper eu neque. Phasellus pellentesque blandit scelerisque. Nunc ornare eu augue sed suscipit. Nunc semper vitae sapien vel suscipit.</p> 
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Project</th>
                <th>Code</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cooker</td>
                <td>0001</td>
                <td>blivesta</td>
              </tr>
              <tr>
                <td>Cooker</td>
                <td>0001</td>
                <td>blivesta</td>
              </tr>
              <tr>
                <td>Cooker</td>
                <td>0001</td>
                <td>blivesta</td>
              </tr>
            </tbody>
          </table>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" /> switcher-header
        	</div>
        	<div class="switcher-header-col">
          	<input type="text" class="form-control form-minimal form-ph-icon" placeholder="form-minimal" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	<img src="http://lorempixel.com/400/200/" alt="" width="60" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
            	&nbsp;switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div class="switcher-body-inner">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
            <p>Nullam ac scelerisque felis, nec venenatis dui. Duis auctor pretium eleifend. Fusce ante velit, faucibus sed mollis quis, convallis ut mi. Curabitur pretium urna vel orci blandit luctus. Morbi tristique facilisis ipsum, quis rutrum erat fermentum a. Fusce ac lobortis ipsum. Phasellus pellentesque nulla eu massa viverra, vitae euismod ipsum malesuada. Proin non eleifend dolor, ut adipiscing lorem. Nunc aliquet purus id velit volutpat tempus eu a ipsum. Fusce semper augue in fringilla posuere. Aliquam ligula metus, pellentesque quis tempor pretium, ullamcorper eu neque. Phasellus pellentesque blandit scelerisque. Nunc ornare eu augue sed suscipit. Nunc semper vitae sapien vel suscipit.</p> 
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Project</th>
                <th>Code</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cooker</td>
                <td>0001</td>
                <td>blivesta</td>
              </tr>
              <tr>
                <td>Cooker</td>
                <td>0001</td>
                <td>blivesta</td>
              </tr>
              <tr>
                <td>Cooker</td>
                <td>0001</td>
                <td>blivesta</td>
              </tr>
            </tbody>
          </table>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" /> switcher-header
        	</div>
        	<div class="switcher-header-col">
          	<input type="text" class="form-control form-minimal form-ph-icon" placeholder="form-minimal" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	<img src="http://lorempixel.com/400/200/" alt="" width="60" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
            	&nbsp;switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div class="switcher-body-inner">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
            <p>Nullam ac scelerisque felis, nec venenatis dui. Duis auctor pretium eleifend. Fusce ante velit, faucibus sed mollis quis, convallis ut mi. Curabitur pretium urna vel orci blandit luctus. Morbi tristique facilisis ipsum, quis rutrum erat fermentum a. Fusce ac lobortis ipsum. Phasellus pellentesque nulla eu massa viverra, vitae euismod ipsum malesuada. Proin non eleifend dolor, ut adipiscing lorem. Nunc aliquet purus id velit volutpat tempus eu a ipsum. Fusce semper augue in fringilla posuere. Aliquam ligula metus, pellentesque quis tempor pretium, ullamcorper eu neque. Phasellus pellentesque blandit scelerisque. Nunc ornare eu augue sed suscipit. Nunc semper vitae sapien vel suscipit.</p> 
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Project</th>
                <th>Code</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cooker</td>
                <td>0001</td>
                <td>blivesta</td>
              </tr>
              <tr>
                <td>Cooker</td>
                <td>0001</td>
                <td>blivesta</td>
              </tr>
              <tr>
                <td>Cooker</td>
                <td>0001</td>
                <td>blivesta</td>
              </tr>
            </tbody>
          </table>
      	</div>
      </div><!-- /.switcher -->
      
    </div><!-- /.switchers -->
    
  </div> <!-- /example -->

  <h3>Mode : normal</h3>
  <div class="ck-example">
  
    <div class="switchers" data-mode="">
    	<div class="switcher-head text-right">
        <button class="btn btn-default switcher-toggle-all">All Toggle</button>
    	</div>
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" /> switcher-header
        	</div>
        	<div class="switcher-header-col">
          	<input type="text" class="form-control form-minimal form-ph-icon" placeholder="form-minimal" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	<img src="http://lorempixel.com/400/200/" alt="" width="60" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
            	&nbsp;switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div class="switcher-body-inner">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
            <p>Nullam ac scelerisque felis, nec venenatis dui. Duis auctor pretium eleifend. Fusce ante velit, faucibus sed mollis quis, convallis ut mi. Curabitur pretium urna vel orci blandit luctus. Morbi tristique facilisis ipsum, quis rutrum erat fermentum a. Fusce ac lobortis ipsum. Phasellus pellentesque nulla eu massa viverra, vitae euismod ipsum malesuada. Proin non eleifend dolor, ut adipiscing lorem. Nunc aliquet purus id velit volutpat tempus eu a ipsum. Fusce semper augue in fringilla posuere. Aliquam ligula metus, pellentesque quis tempor pretium, ullamcorper eu neque. Phasellus pellentesque blandit scelerisque. Nunc ornare eu augue sed suscipit. Nunc semper vitae sapien vel suscipit.</p> 
          </div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" /> switcher-header
        	</div>
        	<div class="switcher-header-col">
          	<input type="text" class="form-control form-minimal form-ph-icon" placeholder="form-minimal" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	<img src="http://lorempixel.com/400/200/" alt="" width="60" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
            	&nbsp;switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div class="switcher-body-inner">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
            <p>Nullam ac scelerisque felis, nec venenatis dui. Duis auctor pretium eleifend. Fusce ante velit, faucibus sed mollis quis, convallis ut mi. Curabitur pretium urna vel orci blandit luctus. Morbi tristique facilisis ipsum, quis rutrum erat fermentum a. Fusce ac lobortis ipsum. Phasellus pellentesque nulla eu massa viverra, vitae euismod ipsum malesuada. Proin non eleifend dolor, ut adipiscing lorem. Nunc aliquet purus id velit volutpat tempus eu a ipsum. Fusce semper augue in fringilla posuere. Aliquam ligula metus, pellentesque quis tempor pretium, ullamcorper eu neque. Phasellus pellentesque blandit scelerisque. Nunc ornare eu augue sed suscipit. Nunc semper vitae sapien vel suscipit.</p> 
          </div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" /> switcher-header
        	</div>
        	<div class="switcher-header-col">
          	<input type="text" class="form-control form-minimal form-ph-icon" placeholder="form-minimal" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	<img src="http://lorempixel.com/400/200/" alt="" width="60" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
            	&nbsp;switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div class="switcher-body-inner">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
            <p>Nullam ac scelerisque felis, nec venenatis dui. Duis auctor pretium eleifend. Fusce ante velit, faucibus sed mollis quis, convallis ut mi. Curabitur pretium urna vel orci blandit luctus. Morbi tristique facilisis ipsum, quis rutrum erat fermentum a. Fusce ac lobortis ipsum. Phasellus pellentesque nulla eu massa viverra, vitae euismod ipsum malesuada. Proin non eleifend dolor, ut adipiscing lorem. Nunc aliquet purus id velit volutpat tempus eu a ipsum. Fusce semper augue in fringilla posuere. Aliquam ligula metus, pellentesque quis tempor pretium, ullamcorper eu neque. Phasellus pellentesque blandit scelerisque. Nunc ornare eu augue sed suscipit. Nunc semper vitae sapien vel suscipit.</p> 
          </div>
      	</div>
      </div><!-- /.switcher -->
      
    </div><!-- /.switchers -->

  </div> <!-- /example -->


  <h2 id="switchers-usage">Usage</h2>

  <h3>Markup</h3>
{% highlight html %}
<div class="switchers" data-mode="accordion">
  <div class="switcher-head">
    <button class="switcher-toggle-all">switcher-toggle-all</button>
  </div>
  <div class="switcher">
    <div class="switcher-header">
      <div class="switcher-header-col">
        switcher-header-col
      </div>
      <div class="switcher-header-col switcher-toggle">
        switcher-header-col
      </div>
    </div>
    <div class="switcher-body">
      switcher-body
    </div>
  </div><!-- /.switcher -->
  <div class="switcher">
    ...
  </div><!-- /.switcher -->
</div>
{% endhighlight %}

  <h3>JavaScript</h3>
{% highlight js %}
$('.switchers').switchers({
  switcher:   'switcher',
  toggle:     'switcher-toggle',
  toggleAll:  'switcher-toggle-all',
  open:       'switcher-open',
  close:      'switcher-close'
});
{% endhighlight %}

  <h2 id="switchers-method">Methods</h2>

  <h3>$().switchers(options)</h3>
  <p> </p>

  <h4>$().switchers('open')</h4>
  {% highlight js %}$('#element').switchers('open'){% endhighlight %}
  <h4>$().switchers('close')</h4>
  {% highlight js %}$('#element').switchers('close'){% endhighlight %}
  <h4>$().switchers('toggle')</h4>
  {% highlight js %}$('#element').switchers('toggle'){% endhighlight %}
  <h4>$().switchers('toggleAll')</h4>
  {% highlight js %}$('#element').switchers('toggleAll'){% endhighlight %}
  <h4>$().switchers('destroy')</h4>
  {% highlight js %}$('#element').switchers('destroy'){% endhighlight %}

</div>

