//@color-main:        #060434;
//@color-main:        #162231;
@color-main:        #242d35;
@brand-primary:     @color-main;
@color-main-light:  lighten(@color-main, 40);

@color-sub:         #354b5c;
@color-sub-light:   lighten(@color-sub,40);

