.icon(@icon) {
  .icon-font-awesome();
  content: @icon;
}

.icon-font-awesome() {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}
