 <div id="contents-switchers">
   <h2>switchers.js</h2>
    <p class="lead">要素をクリックで親の要素にクラス（active）をadd,removeするのみのjQueryプラグイン。<br />実際の開閉動作はcssで対応。</p>
    <h3>Example</h3>
    
    <h4>Mode : accordion</h4>
    <div class="switchers" data-mode="accordion">
    	<div class="switcher-head text-right">
        <button class="btn btn-primary switcher-toggle-all">switcher-toggle-all</button>
    	</div>
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col">
          	<input type="text" class="form-minimal form-ph-icon" placeholder="form-minimal" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	<img src="http://lorempixel.com/400/200/" alt="" width="60" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
            	&nbsp;accordion-header accordion-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col">
          	<input type="text" class="form-minimal form-ph-icon" placeholder="form-minimal" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	<img src="http://lorempixel.com/400/200/" alt="" width="60" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
            	&nbsp;accordion-header accordion-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col">
          	<input type="text" class="form-minimal form-ph-icon" placeholder="form-minimal" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	<img src="http://lorempixel.com/400/200/" alt="" width="60" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
            	&nbsp;accordion-header accordion-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col">
          	<input type="text" class="form-minimal form-ph-icon" placeholder=".form-minimal" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	<img src="http://lorempixel.com/400/200/" alt="" width="60" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
            	&nbsp;accordion-header accordion-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col">
          	<input type="text" class="form-minimal form-ph-icon" placeholder=".form-minimal" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	<img src="http://lorempixel.com/400/200/" alt="" width="60" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
            	&nbsp;accordion-header accordion-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      
    </div><!-- /.switchers -->
 
 <hr />   
 
    <h4>Mode : normal</h4>
    <div class="switchers" data-mode="">
    	<div class="switcher-head text-right">
        <button class="btn btn-primary switcher-toggle-all">switcher-toggle-all</button>
    	</div>
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      
    </div><!-- /.switchers -->
  
    <h4>switcher-head無し</h4>
    <div class="switchers" data-mode="accordion">
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      
    </div><!-- /.switchers -->
 
 <hr />   
  
  <h3>set up</h3>   
  <h4>js</h4> 
{% highlight js %}
$('.switchers').switchers({
  switcherClass: 'switcher',
  toggleClass: 'switcher-toggle',
  allToggleClass: 'switcher-toggle-all',
  activeClass: 'switcher-active'
});
{% endhighlight %}
<h4>html</h4> 
{% highlight html %}
<div class="switchers" data-mode="accordion">
  <div class="switcher-head">
    <button class="switcher-toggle-all">switcher-toggle-all</button>
  </div>
  <div class="switcher">
    <div class="switcher-header">
      <div class="switcher-header-col">
        switcher-header-col
      </div>
      <div class="switcher-header-col switcher-toggle">
        switcher-header-col
      </div>
    </div>
    <div class="switcher-body">
      switcher-body
    </div>
  </div><!-- /.switcher -->
  <div class="switcher">
    ...
  </div><!-- /.switcher -->
</div>
{% endhighlight %}

</div><!-- /#contents-switchers -->
