<div class="ck-docs-section">
  <h1 id="switchers" class="page-header">Switchers <small>switchers.js</small></h1>

  <h2 id="switchers-examples">Examples</h2>

  <h3>Mode : accordion</h3>
  <div class="ck-example">
  
    <div class="switchers" data-mode="accordion">
    	<div class="switcher-head text-right">
        <button class="btn btn-primary switcher-toggle-all">switcher-toggle-all</button>
    	</div>
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col">
          	<input type="text" class="form-control form-minimal form-ph-icon" placeholder="form-minimal" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	<img src="http://lorempixel.com/400/200/" alt="" width="60" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
            	&nbsp;accordion-header accordion-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col">
          	<input type="text" class="form-control form-minimal form-ph-icon" placeholder="form-minimal" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	<img src="http://lorempixel.com/400/200/" alt="" width="60" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
            	&nbsp;accordion-header accordion-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col">
          	<input type="text" class="form-control form-minimal form-ph-icon" placeholder="form-minimal" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	<img src="http://lorempixel.com/400/200/" alt="" width="60" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
            	&nbsp;accordion-header accordion-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col">
          	<input type="text" class="form-control form-minimal form-ph-icon" placeholder=".form-minimal" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	<img src="http://lorempixel.com/400/200/" alt="" width="60" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
            	&nbsp;accordion-header accordion-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col">
          	<input type="text" class="form-control form-minimal form-ph-icon" placeholder=".form-minimal" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	<img src="http://lorempixel.com/400/200/" alt="" width="60" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
            	&nbsp;accordion-header accordion-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      
    </div><!-- /.switchers -->
    
  </div> <!-- /example -->

  <h3>Mode : normal</h3>
  <div class="ck-example">
  
    <div class="switchers" data-mode="">
    	<div class="switcher-head text-right">
        <button class="btn btn-primary switcher-toggle-all">switcher-toggle-all</button>
    	</div>
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      
    </div><!-- /.switchers -->

    <hr />
  
    <div class="switchers" data-mode="accordion">
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      <div class="switcher">
      	<div class="switcher-header">
        	<div class="switcher-header-col">
          	<input type="checkbox" />
        	</div>
        	<div class="switcher-header-col switcher-toggle">
          	switcher-toggle
          </div>
      	</div>
      	<div class="switcher-body">
          <div style="height:300px;">switcher-body</div>
      	</div>
      </div><!-- /.switcher -->
      
    </div><!-- /.switchers -->

  </div> <!-- /example -->


  <h2 id="switchers-usage">Usage</h2>

  <h3>Markup</h3>
{% highlight html %}
<div class="switchers" data-mode="accordion">
  <div class="switcher-head">
    <button class="switcher-toggle-all">switcher-toggle-all</button>
  </div>
  <div class="switcher">
    <div class="switcher-header">
      <div class="switcher-header-col">
        switcher-header-col
      </div>
      <div class="switcher-header-col switcher-toggle">
        switcher-header-col
      </div>
    </div>
    <div class="switcher-body">
      switcher-body
    </div>
  </div><!-- /.switcher -->
  <div class="switcher">
    ...
  </div><!-- /.switcher -->
</div>
{% endhighlight %}

  <h3>JavaScript</h3>
{% highlight js %}
$('.switchers').switchers({
  switcherClass: 'switcher',
  toggleClass: 'switcher-toggle',
  allToggleClass: 'switcher-toggle-all',
  activeClass: 'switcher-active'
});
{% endhighlight %}

  <h2 id="switchers-method">Methods</h2>

  <h3>$().switchers(options)</h3>
  <p> </p>

  <h4>$().switchers('destroy')</h4>
  {% highlight js %}$('#element').switchers('destroy'){% endhighlight %}

</div>

